







.or-l-header {
	background: #F8F8F8;
	@include size(100%, 10vh);
	display: flex;
	justify-content: center;
	align-items: center;
}



.or-l-header-title {
	font-size: 4rem;
	width: 400px;
    display: flex;
    justify-content: center;
    
    
}